.abstractBox {
    margin: auto;
    width: 75%
}


.articlebutton{
    margin: auto;
    color: red;
}

.articleButtons {
    margin-left: 50px;
    margin-right: 10px;
    cursor: pointer;
} 

a:link a:visited{
 color: red;
 text-decoration: none;
}