.abstractBox {
    margin: auto;
    width: 75%
}


.articlebutton{
    margin: auto;
    color: red;
}

.articleButtons {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
} 

a:link a:visited{
 color: red;
 text-decoration: none;
}

@media only screen and (min-width: 700px) {


    .articleButtons{
        margin-left: 50px;
    }
}