.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

#filterTab{
  cursor: pointer;
}

#filterTab:hover {
  background-color: red;
  color: white;
  transition: all .3s;
}

h1 {
  cursor: pointer;
}

.is-active {
  background-color: red;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track{
  background: white;
}

::-webkit-scrollbar-thumb{
  background: red;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color: red;
}

img{
  max-width: 100%;
}

.filterList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}

p{
  margin:0;
  padding: 10px;
  width: 50%;
}

@media only screen and (min-width: 700px) {

  
  .Headlines {
    max-width: 700px;
    margin: auto;
    height: 350px;
    margin-bottom: 100px;

  }

  .filterList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    max-width: 700px;
    margin-top: 20px;
  }

  .articleBox{
    display: flex;
    flex-direction: row;
    max-width: 500px;
    margin: auto;
    height: 40vh;
  }

  .articleContent {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .articleMedia {
    margin: auto;
  }

  .articleTitle {
    margin: none;
  }

  .articleImg{
    min-width: 150px;
    margin-right: 7px;
  }

  .abstractBox {
    margin: none;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .articleButtons{
    margin: none;
    display: flex;

  }

  li{
    width: 98%;
  }

  .landingImg{
    height: 40vh;
    padding: auto;
  }

  .landingGif {
    margin: auto;
    margin-top: 50px;
  }

}